SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
TSIM_SESSION_ENCRYPTION_KEY=
PUBLIC_APP_URL=https://t-sim.vercel.app
GMAIL_SMTP_USER=tconnectsuporte@gmail.com
GMAIL_APP_PASSWORD=
TSIM_ADMIN_BOOTSTRAP_SECRET=
TSIM_ADMIN_REGISTRATION=
TSIM_ADMIN_PIN=
